require_relative 'lib/legion/extensions/<%= config[:lex] %>/version'

Gem::Specification.new do |spec|
  spec.name          = 'lex-<%= config[:lex] %>'
  spec.version       = Legion::Extensions::<%= config[:class_name] %>::VERSION
  spec.authors       = ['Esity']
  spec.email         = ['matthewdiverson@gmail.com']

  spec.summary       = 'LEX::<%= config[:class_name] %>'
  spec.description   = 'Connects Legion to <%= config[:class_name] %>'
  spec.homepage      = 'https://bitbucket.org/legion-io/lex-<%= config[:lex] %>'
  spec.license       = 'MIT'
  spec.required_ruby_version = Gem::Requirement.new('>= 2.5.0')

  spec.metadata['homepage_uri'] = spec.homepage
  spec.metadata['source_code_uri'] = 'https://bitbucket.org/legion-io/lex-<%= config[:lex] %>/src'
  spec.metadata['documentation_uri'] = 'https://legionio.atlassian.net/wiki/spaces/LEX/pages/'
  spec.metadata['changelog_uri'] = 'https://legionio.atlassian.net/wiki/spaces/LEX/pages/'
  spec.metadata['bug_tracker_uri'] = 'https://bitbucket.org/legion-io/lex-<%= config[:lex] %>/issues'
  spec.require_paths = ['lib']

  spec.add_development_dependency 'rake'
  spec.add_development_dependency 'rspec'
  spec.add_development_dependency 'rubocop'
  spec.add_development_dependency 'simplecov'
end
